<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
    <body>



    <div th:each = "user : ${users}">
        <a th:href="@{/users/{id}(id= ${user.getId()})}" th:text="${user.getFirstName()}">user</a>
    </div>
        <br/>
        <hr/>

        <a href="/users/new">Create new user</a>

<!--                <td th:text="${user.getId()}">VALUE</td>-->
<!--                <td th:text="${user.getFirstName()}">VALUE</td>-->
<!--                <td th:text="${user.getLastName()}">VALUE</td>-->
<!--                <td th:text="${user.getAge()}">VALUE</td></tr>-->


</body>
</html>