<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
    <body>
    <div >
        <table>
            <thead>
            <tr>
                <th>Model</th>
                <th>Brand</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "car : ${cars}">
                <td th:text="${car.getBrand()}">VALUE</td>
                <td th:text="${car.getModel()}">VALUE</td>
                <td th:text="${car.getYear()}">VALUE</td></tr>
            </tbody>

        </table>
    </div>
</body>
</html>